{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="offset-4 col-sm-3" style="margin-top:10%">
        <h2>Register</h2>
        <p>Clever solution for user registration</p>
        <div class="row">
            <div class="col-sm-12 well">
                <form method="post" action="{{ request.get_full_path }}" class="register-form">
                    {% csrf_token %}
                    <p class="errorlist">{{ form.non_field_errors }}</p>
                    <div>
                        <label for="username">Email</label>
                        <div>
                            {{ form.username }}
                        </div>
                        <p>{{ form.username.errors }}</p>
                    </div>
                    <div>
                        <div>
                            <label for="password">{{ form.password.label }}</label>
                        </div>
                        <div>
                            {{ form.password }}
                        </div>
                        <p>{{ form.password.errors }}</p>
                    </div>
                    <div>
                        <div>
                            <label for="confirm_password">{{ form.confirm_password.label }}</label>
                        </div>
                        <div>
                            {{ form.confirm_password }}
                        </div>
                        <p>{{ form.confirm_password.errors }}</p>
                    </div>
                    <div>
                        <button class="btn-info" type="submit">Register</button>
                        <a href="#">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}